* {
   box-sizing: border-box;
}

:root {
   --primary-blue: #10375c;
   --secondary-blue: #2e80ce;
   --font-family: Sora;
}

html,
body {
   scroll-behavior: smooth;
}
/* Quy đổi 1rem = 10px cho dễ --- xem lại rem để biết thêm */
html {
   font-size: 62.5%; /* 1rem = 10px */
}

body {
   font-family: var(--font-family), sans-serif;
   font-size: 1.6rem; /* 16px */
   margin: 0;
   padding: 0;
}

/* -----------------Common---------------- */

.content {
   width: 1170px;
   margin: 0 auto;
   max-width: calc(100% - 48px);
}
.line-clamp {
   display: -webkit-box;
   -webkit-line-clamp: var(--line-clamp, 1);
   -webkit-box-orient: vertical;
   overflow: hidden;
}

.line-clamp.line-2 {
   --line-clamp: 2;
}

.line-clamp.line-3 {
   --line-clamp: 3;
}

.break-all {
   word-break: break-all;
}

.btn {
   display: inline-flex;
   align-items: center; /* vertical center */
   justify-content: center; /* horizontal center */
   width: 205px;
   height: 60px;
   border-radius: 30px;
   background: var(--secondary-blue);
   color: #fff;
   padding: 15px 46px;
   font-size: 16px;
   font-weight: 400;
}

.btn:hover {
   opacity: 0.9;
   cursor: pointer;
}

a {
   text-decoration: none;
}

/* -------------------Common End-------------- */

/* -----------------Header------------ */

.header {
   background-color: var(--primary-blue);
   padding-top: 30px;
}

.header__content {
   display: flex;
   align-items: center;
}

.header__navbar {
   flex: 1;
   margin-left: 304px;
   margin-right: 222px;
}

.navbar--ul {
   display: grid;
   gap: 42px;
   grid-template-columns: repeat(4, 1fr);
}

.navbar--ul a {
   color: #c9d2da;
   font-weight: 300;
}

.header__cta {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__cta a {
   color: #c9d2da;
   font-style: normal;
   font-weight: 300;
}

.header__cta--signup {
   width: 104px;
   height: 44px;
   padding: 8px 19px;
   font-size: 1.6rem;
   font-weight: 400;
   margin-left: 28px;
}

.header__cta--signup a {
   color: #fff;
   font-weight: 400;
}
/* ----------Hero--------- */
.hero {
   padding-top: 76px;
   padding-bottom: 110px;
   background-color: var(--primary-blue);
}

.hero__content {
   display: flex;
   align-items: center;
}

.hero__info--title {
   color: #fff;
   font-size: 7rem;
   font-weight: 600;
   line-height: 1.14;
   letter-spacing: -0.14rem;
   width: 517px;
}

.hero__info--desc {
   width: 468px;
   color: #c9d2da;
   font-size: 1.8rem;
   font-weight: 300;
   line-height: 1.66;
   margin-top: 22px;
}

.hero__info--cta {
   margin-top: 38px;
}
.hero__info--btn {
   margin-right: 38px;
}

.hero__info-contact {
   color: #fff;
   text-align: center;
   font-family: Sora;
   font-size: 1.8rem;
   font-style: normal;
   font-weight: 400;
   line-height: 3rem; /* 166.667% */
}

.hero__image {
   width: 50%;
   display: flex;
   margin-left: 113px;
   position: relative;
   align-items: center;
}

.hero__image img {
   object-fit: cover;
   border-radius: 6px;
}

.hero__image img:first-child {
   width: 330px;
   height: 540px;
   z-index: 2;
   position: relative;
   margin-right: -10px;
}

.hero__image img:last-child {
   width: 210px;
   height: 410px;
}

/* -----------service section------------- */

.service_content {
   margin-top: 170px;
   /* background: orangered; */
   padding-bottom: 170px;
}
.service__title {
   color: var(--primary-blue);
   text-align: center;
   font-size: 5rem;
   font-weight: 600;
   line-height: 1.2;
   letter-spacing: -0.1rem;
}

.service__desc {
   display: block;
   width: 468px;
   margin: 18px auto 0;
   color: #575f66;
   text-align: center;
   font-size: 1.8rem;
   font-weight: 300;
   line-height: 1.66;
}

.service__info {
   display: flex;
   justify-content: space-between;
   gap: 130px;
   margin-top: 70px;
   align-items: center;
}

.service__info--image {
   width: 570px;
   height: 570px;
   object-fit: cover;
   border-radius: 12px;
}

.service__info--item {
   display: flex;
   padding: 21px 18px 20px 22px;
}

.service__info--item:hover {
   border-radius: 10px;
   background: #fff;
   box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
   .service__item--image{
      background:var(--secondary-blue);
      color: #fff;
   }
}

.service__item--image {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 60px;
   height: 60px;
   border-radius: 30px;
   background: #2e80ce;
   box-shadow: 0 8px 16px 0 rgba(40, 155, 222, 0.15);
   background: #eff6fd;
   color: var(--primary-blue);
}

.service__item--info {
   margin-left: 19px;
}

.service__item--title {
   color: var(--primary-blue);
   font-size: 1.8rem;
   font-weight: 600;
}

.service__item--desc {
   width: 351px;
   color: #575f66;
   font-size: 1.6rem;
   font-weight: 300;
   line-height: 1.75;
}


.service__btn{
   margin-top: 55px;
}